
# source code
src

# compiler
tsconfig.json
webpack.config.js

# files
*.editorconfig
.babelrc

# tests
test
jest.config.js
setupJest.ts
coverage

#  lint
.eslintrc.js
.prettierrc

# IDE - VSCode
.vscode

# git
.git
